.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.space-list-items {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
}