.languages {
    display: flex;
    justify-content: center;
    color: white;
}

.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;

}