.languages{
    display: flex;
    justify-content: center;
}
.languages li{
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

ul{
    padding: 0;
}

li {
    list-style-type: none;

}

.popular-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item{
    margin: 20px;
    text-align: center;
}
.space-list-items{
    margin-bottom: 7px;
}
 .avatar {
     width: 150px;
 }